[submodule "vendor/submodules/projectile"]
	path = vendor/submodules/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "vendor/submodules/ag"]
	path = vendor/submodules/ag
	url = git@github.com:Wilfred/ag.el.git
[submodule "vendor/submodules/xcscope"]
	path = vendor/submodules/xcscope
	url = git@github.com:dkogan/xcscope.el.git
[submodule "vendor/submodules/counsel-projectile"]
	path = vendor/submodules/counsel-projectile
	url = https://github.com/ericdanan/counsel-projectile.git
